* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* OBS: Se alguma variável no :root for alterada, será necessário atualizar a página para aplicar as mudanças corretamente. */

  /* Quantas casas vão aparecer na vitrine */
  --quantidade_exposta: 4;

  /* Quantas casas vão ser puladas por giro */
  --casas_por_giro: 2;

  --tamanho_bloco: 200px;

  /* Tempo que o carrossel demora para trocar a casa (em segundos) */
  --tempo_carrossel: 2;
}

.segundo_carrossel {
  background-color: aliceblue;
  border-top: 5px solid black;
}

#vitrine {
  margin: 10% auto;
  overflow-x: hidden;
  width: calc((var(--tamanho_bloco) + 15px) * var(--quantidade_exposta));
  align-content: center;
  border: 1px solid red;
}

#trilho {
  width: max-content;
  display: flex;
  transition: transform 1s;
}

.bloco {
  margin-right: 20px;
  width: var(--tamanho_bloco);
  aspect-ratio: 3/4;
  border: 1px solid black;
  color: black;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

