:root{
  --quantidade_exposta: 5;
  /* 
    Serve para o javascript saber quantos blocos devem set expostos por vez.
    Isso altera o tamanho maximo da vitrine e até onde o trilho pode ir.
  */
}

.segundo_carrossel {
  background-color: aliceblue;
  border-top: 5px solid black;
}

.vitrine {
  margin: 0 auto;
  /* border: 1px solid rgb(194, 194, 194); */
  width: 95%;
  height: 300px;
  overflow-x: hidden;
  padding: 0 10px;
}

.trilho {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  transition: transform 1s;
}

.bloco {
  background: url("https://placehold.co/200x250") center / contain no-repeat;
  margin: 0 20px;
  width: 200px;
  height: 250px;
  border: 1px solid black;
}
